<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Version 0.1 - First Prototype
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Author</div>
      <div class="item item-body">
        <div>
          Eduard Lache
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Info</div>
      <div class="item item-body">
        <div>
          At the moment, this application is just a prototype.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
